.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

.card:hover {
    transform: scale(0.9);
    transition-duration: 0.3s;
    cursor: pointer;
  }

.card div {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    align-self: center;
}

.card:hover div{
    visibility: visible;
    opacity: 0.9; 
    font-size: 15px;
    align-self: center;
   }


/* .card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
} */